.ViewProductDataContainer img {
    height: 400px;
    border-radius: 50px;
    width: 400px;
}

.ViewProductDataContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Upper section */
.UpperHeading {
    margin: 100px 100px 20px 100px;
    padding: 10px;
}

.UpperHeading h1 {
    text-align: center;
    font-weight: 500;
}

.UpperHeading h1 b {
    color: green;
    font-weight: 500;
}

.UpperHeading button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    transition: 0.2s all ease-in-out;
    position: relative;
    top: -45px;
    left: 50px;
}

.UpperHeading button:hover {
    background-color: green;
    color: white;
}

.DetailDiv {
    line-height: 55px;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    top: -10px;
}