/* .ContactMainDiv {
    margin: auto;
    position: relative;
    top: 50px;
    padding: 50px;
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
    height: 200px;
}

.ContactMainDiv .Para {
    font-size: 14px;
} */


.ContactMainDiv .Heading {
    font-size: clamp(28px, 5vw, 42px);
}

.ContactMainDiv .Para {
    font-size: 14px;
    max-width: 600px;
    margin: 10px auto 0;
}