.MapDiv {
    padding: 50px;
    margin: -100px 50px;
}

.MapHeading {
    font-size: 2.5rem;
    text-align: center;
    padding: 10px;
    font-weight: 500;
}

.MapPara {
    font-size: 12px;
    text-align: center;
    padding: 0px 0px 30px 10px;
    font-weight: 400;
}

.Iframe {
    border-radius: 10px;
}

.IframeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
}