/* .MVV-div-outer {
    font-family: "poppins";
    margin: 100px 50px 50px 50px;
    padding: 10px;
}

.MVV-div {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.MVV-div-inner {
    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.MVV-div .MVV-div-inner p {
    font-size: 12px;
    word-wrap: break-word;
}

.div-i-inner i {
    color: green;
} */

.MVV-div-outer {
    font-family: "poppins";
    margin: 100px 50px 50px 50px;
    padding: 10px;
}

.MVV-div {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.MVV-div-inner {
    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    padding: 20px 15px;
    width: 300px;
}

.MVV-div .MVV-div-inner p {
    font-size: 12px;
    word-wrap: break-word;
}

.div-i-inner i {
    color: green;
    font-size: 28px;
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .MVV-div {
        flex-wrap: wrap;
        gap: 20px;
    }

    .MVV-div-inner {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .MVV-div-outer {
        margin: 60px 15px 30px 15px;
    }

    .MVV-div {
        flex-direction: column;
        align-items: center;
    }

    .MVV-div-inner {
        width: 100%;
    }

    .MVV-div-inner h3 {
        font-size: 18px;
    }

    .MVV-div-inner p {
        font-size: 13px;
    }
}