.about-us-main-history {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.about-us-main-history-left {
    height: 100%;
    width: 50%;
}

.about-us-main-history-right {
    height: 100%;
    width: 50%;
    background-image: url("src/assets/WhatsApp Image 2026-01-21 at 12.50.37 PM.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    filter: brightness(0.8) saturate(2.5);
    margin-top: 80px;
}

.Our-History {
    font-family: poppins;
    font-weight: 500;
    font-size: 40px;
    background-color: whitesmoke;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 45%;
    padding: 10px 10px 10px 30px;
    margin-left: 50px;
    margin-top: 10px;
}

.History-Paragraph {
    padding: 30px;
}

.History-Paragraph p {
    /* padding: 30px 0px 0px 0px; */
    font-family: poppins;
    font-weight: 500;
    font-size: 13px;
    width: 85%;
    margin: 10px;
    padding: 10px;
    transition: 0.2s all ease-in-out;
}

#b-2 {
    color: #0E8F7A;
}

.History-Paragraph p:hover {
    background-color: whitesmoke;
}