.About-usMainHeading-Container {
    width: 100%;
    height: 300px;
    background-color: #F2F3F4;
    padding-top: 150px;
}

.About-usMainHeading-Container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    background: linear-gradient(90deg, #0E8F7A 0%, #1F7AE0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.About-usMainHeading-Container p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
}