.Filter_Div {
    height: 210px;
    width: 350px;
    margin: 15px -10px 10px 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.Filter_Div h5 {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    padding: 10px;
}

.Filter_Div h5 i {
    color: green;
}

input {
    border: 1px solid black;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

p {
    font-size: 15px;
    padding: 10px;
}

select {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 90%;
}

.Filter_Button {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.Filter_Button div button {
    margin: 10px;
    padding: 12.5px 50px;
    border-radius: 10px;
    border: none;
    font-size: 13px;
    width: 85%;
    color: black;
    transition: 0.2s all ease;
}

.Filter_Button div button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}