.Nav-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid #E5E7EB;
}

.Logo-Container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.Logo-Container i {
    font-size: 20px;
    color: green;
}

.Logo-Text {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.Pharma-Text {
    color: green;
    font-family: "Poppins", sans-serif;
}

.Nav-Ul {
    display: flex;
    gap: 22px;
    list-style: none;
    align-items: center;
}

.Nav-Ul li {
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.Nav-Ul a {
    text-decoration: none;
    color: black;
}

.Nav-Ul li:hover {
    background: linear-gradient(90deg, #0E8F7A 0%, #1F7AE0 100%);
    color: white;
}

.Nav-Right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Nav-Right button {
    padding: 10px 14px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #0E8F7A 0%, #1F7AE0 100%);
    color: white;
    font-family: "Poppins", sans-serif;
}

.More-Icon {
    display: none;
    font-size: 18px;
    cursor: pointer;
    color: #1F2933;
}

.More-Icon:hover {
    color: #0E8F7A;
}


@media (max-width: 1024px) {
    .Nav-Container {
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {

    /* MANN KE CHAL YE FALSE HAIII */
    .Nav-Item-Link {
        display: none;
        position: absolute;
        top: 64px;
        right: 16px;
        background-color: white;
        width: 200px;
        border-radius: 8px;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
        z-index: 999;
        padding: 12px 0;
    }

    /* JAB TRUE HUA TAB */
    .Nav-Item-Link.active {
        display: block;
    }

    .Nav-Ul {
        flex-direction: column;
        gap: 10px;
    }

    .Nav-Ul li {
        text-align: center;
    }

    .More-Icon {
        display: flex;
        align-items: center;
    }

    .Nav-Container {
        padding: 12px 16px;
    }
}

@media (max-width: 480px) {
    .Nav-Right button {
        font-size: 11px;
        padding: 8px 10px;
    }

    .More-Icon {
        font-size: 17px;
    }
}