@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Nav-Container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid #E5E7EB;
}

.Logo-Container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    cursor: pointer;
}

.Logo-Container i {
    font-size: 20px;
    color: green;
}

.Logo-Text {
    font-size: 20px;
}

.Logo-Text b {
    padding-left: 2.5px;
}

.Pharma-Text {
    color: green;
}

.Nav-Ul {
    display: flex;
    justify-content: center;
    gap: 22.5px;
    list-style: none;
    align-items: center;
}

.Nav-Ul li {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 13px;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 5px;
}

#HOME {
    background: linear-gradient(90deg, #0E8F7A 0%, #1F7AE0 100%);
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 5px;
    color: white;
}

.Nav-Ul li:hover {
    background: linear-gradient(90deg, #0E8F7A 0%, #1F7AE0 100%);
    cursor: pointer;
    transition: 0.2s all ease;
    color: white;
}

.Nav-Right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Nav-Right button {
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    border: 2px solid green;
    cursor: pointer;
    background-color: white;
    transition: 0.2s all ease-in-out;
    font-weight: 200;
    background: linear-gradient(90deg, #0E8F7A 0%, #1F7AE0 100%);
    color: white;
}


.Nav-Right .Theme-Icon {
    font-size: 20px;
    cursor: pointer;
}