.footer {
    /* background: linear-gradient(90deg, #1C8A79 0%, #1F7FA2 100%); */
    color: black;
    padding: 60px 20px 20px;
    border-top: 1px solid whitesmoke;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.footer-logo {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: black;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: black;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
    color: black;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    cursor: pointer;
}

.footer-section ul li a:hover {
    color: black;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #334155;
    font-size: 14px;
    color: black;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 30px;
    }
}